/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1308 {
        padding: var(--sectionPadding);
        padding-top: (540/16rem);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }


        .cs-ul {
            width: 100%;
            padding: 0;
            /* 32px - 48px */
            margin: clamp(2rem, 5vw, 3rem) 0 0 0;
            /* 32px - 48px */
            padding: clamp(2rem, 5vw, 3rem) 0 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: (12/16rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            font-size: (25/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            margin: 0 0 (8/16rem) 0;
        }

        .cs-h3 {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-image-group {
            width: 100%;
            max-width: (670/16rem);
            height: 100vw;
            max-height: (630/16rem);
            position: relative;
            display: block;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: (304/16rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (8/16rem);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1308 {
        padding-top: (500/16rem);
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1308 {
        padding-top: (250/16rem);
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 48%;
            padding: (48/16rem) 0;
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            width: 55%;
            max-width: (670/16rem);
            min-height: (670/16rem);
            max-height: 100%;
            height: auto;
            margin: 0;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
        }

        .cs-box {
            bottom: (0/16rem);
        }

        .cs-graphic {
            max-width: (715/16rem);
            left: auto;
            right: (130/16rem);
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1308 {
            .cs-title,
            .cs-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text,
            .cs-h3 {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1331 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-flex-group {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            /* 40px - 60px top & bottom,  20px - 48px left & right, */
            padding: clamp(2.5rem, 4.1vw, 3.75rem) clamp(1.25rem, 3.4vw, 3rem);
            background-color: #fff;
            grid-column: span 12;
            transition:
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                transform: translateY(-1rem);
                box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
        }

        .cs-step {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            /* 48px - 100px */
            margin-bottom: clamp(3rem, 7.8vw, 6.25rem);
            color: var(--primary);
            display: block;
            text-align: inherit;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
            text-align: inherit;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
            text-align: inherit;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.06;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1331 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
            text-align: left;
        }

        .cs-title {
            margin: 0;
        }

        .cs-flex-group {
            width: 50%;
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: (16/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1331 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}
                            
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1301 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            max-width: (1280/16rem);
            margin: 0;
            padding: 0 (16/16rem);
            /* prevents padding and border from affecting height and width */
            background-color: #fff;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            position: relative;
            z-index: 15;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            box-sizing: border-box;
            grid-column: span 12;
            transition:
                background-color 0.3s,
                border-color 0.3s;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 24px - 60px top & Bottom */
            /* 24px - 16px top & Bottom */
            padding: clamp(1.5rem, 5.3vw, 3.75rem) clamp(1rem, 2.7vw, 2.5rem);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            /* 32px - 40px */
            height: clamp(2rem, 4vw, 2.5rem);
            width: auto;
            margin: 0 0 (16/16rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1301 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: (48/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-flex-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            grid-column: span 6;

            &:nth-of-type(3) {
                border-bottom: none;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1301 {
        .cs-card-group {
            padding: 0;
        }

        .cs-item {
            grid-column: span 3;
            border-bottom: 0;
            border-right: 1px solid #e8e8e8;

            &:hover {
                background-color: #1a1a1a;
                border-color: #1a1a1a;

                .cs-h3,
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item-text {
                    opacity: 0.8;
                }
            }

            &:last-of-type {
                border: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1301 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-card-group {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .cs-item {
                border-color: rgba(255, 255, 255, 0.1);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                    border-color: rgba(0, 0, 0, 0.6);
                }
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1218,
    #RPsbsr-1218 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: (550/16rem);
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 328/358;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            text-align: center;
            width: auto;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem);
            background-color: #1a1a1a;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (8/16rem);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-icon {
            /* 40px - 60px */
            width: clamp(2.5rem, 4vw, 3.75rem);
            height: auto;
            margin-right: 0;
            display: block;
        }

        .cs-number {
            /* 25px - 39px */
            font-size: clamp(1.5625rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            z-index: 10;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1218,
    #RPsbsr-1218 {
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 47%;
            align-self: center;
        }

        .cs-image-group {
            width: 43vw;
            max-width: (560/16rem);
            min-height: (400/16rem);
            height: auto;
            margin: 0 (72/16rem) 0 0;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
        }

        .cs-box {
            bottom: (40/16rem);
            left: auto;
            /* -40px to -108px */
            right: ~"calc(clamp(2.5rem, 6vw + 1rem, 6.75rem)*-1)";
        }

        .cs-graphic {
            max-width: (715/16rem);
            left: auto;
            right: (130/16rem);
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-1218,
        #RPsbsr-1218 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-percentage {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text,
            .cs-percentage {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }

            .cs-progress {
                background-color: var(--accent);
            }

            .cs-graphic {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1218 {
        background-color: #f7f7f7;

        .cs-picture {
            left: 0;
            right: auto;
        }

        .cs-box {
            left: auto;
            right: 0;
        }

        .cs-graphic {
            filter: grayscale(1) brightness(1000%);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-1218 {
        .cs-image-group {
            margin: 0 0 0 (72/16rem);
            order: 2;
        }

        .cs-box {
            right: auto;
            /* -40px to -108px */
            left: ~"calc(clamp(2.5rem, 6vw + 1rem, 6.75rem)*-1)";
        }

        .cs-graphic {
            right: auto;
            left: (130/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-1218 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1230 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light2.svg");
            background-position: center;
            background-size: auto;
            background-repeat: repeat;
            opacity: 0.6;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (32/16rem);
        }

        .cs-flex {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (650/16rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title {
            max-width: 20ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: 0.8;
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 16px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            box-sizing: border-box;
            background: #282828;
            border: 1px solid #3a3a3a;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            gap: (12/16rem);
            /* clips cs-icon overflowing */
            overflow: hidden;
            grid-column: span 6;
        }

        .cs-icon {
            /* 32px - 40px */
            width: clamp(2rem, 3vw, 2.5rem);
            height: auto;
            margin: 0;
            flex: none;
        }

        .cs-h3 {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 900;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColorWhite);
            /* wraps longer words on the smallest screen sizes */
            overflow-wrap: break-word;
        }

        .cs-stat-group {
            width: 100%;
            margin: auto;
            padding: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(6, 1fr);
        }

        .cs-stat {
            list-style: none;
            margin: 0;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem) (16/16rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            grid-column: span 2;

            /* border code */
            &:before {
                content: "";
                width: 2px;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    rgba(72, 72, 72, 0) 0%,
                    #484848 50%,
                    rgba(72, 72, 72, 0) 100%
                );
                position: absolute;
                top: 0;
                right: 0;
            }

            /* remove the border on the far-right elements */
            &:nth-of-type(3),
            &:nth-of-type(5) {
                &:before {
                    content: none;
                }
            }

            /* makes the last two items span across multiple columns. changes at desktop to one line */
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 3;
            }
        }

        .cs-desc {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: center;
            /* keeps the width of the stat description from overflowing onto the border */
            /* 88px - 176px */
            width: clamp(5.5rem, 20vw, 11rem);
            margin-bottom: (8/16rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }

        .cs-number {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 3vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-1230 {
        .cs-container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-card-group {
            display: grid;
            /* makes all grid items stretch to have the same height if their content isn't all the same height */
            align-items: stretch;
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-item {
            grid-column: span 1;
            flex-direction: row;
            align-items: center;
        }

        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1230 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            flex-direction: row;
            align-items: center;
        }

        .cs-title,
        .cs-text {
            max-width: none;
        }

        .cs-card-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-stat-group {
            max-width: (1280/16rem);
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-stat {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }

            &:nth-of-type(3) {
                &:before {
                    content: "";
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1230 {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
                                


                                
                                                                                            
                                