---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1299">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to Invetex</span>
            <h1 class="cs-title">Expert Accountants and Tax Advisors for Your Business</h1>
            <p class="cs-text">
                HIGHLY qualified tax consultants with many years of experience in the field offer a full range of services to help you build a financial future.
            </p>
            <a href="" class="cs-button-solid">Free Consultation</a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <div class="cs-picture-wrapper">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/accountant15.png">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/accountant15.png">
                <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/accountant15.png" alt="accountant" width="468" height="658">
            </picture>
        </div>
    </div>
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brain.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Creative Solutions</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/users.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Professional Team</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Diverse Approach</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Diverse Approach</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <!--Floating Arrow-->
    <!--We wrap it in a picture element wrapper so we can use the wrapper as a box for it to live inside of instead of the section wrapper. This allows us to add overflow:hidden to the wrapper to cut off the graphic at the edge of the screen. If we added overflow:hidden to the section container it would clip the overlapping service cards. So we add this wrapper to allow us to clip only the graphic. -->
    <picture class="cs-floater-wrapper">
        <img class="cs-floater" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-arrow-reversed.svg" alt="graphic" width="956" height="708">
    </picture>
    <!--Background Image, background image added in CSS at 1600px wide for parallax effect-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg" alt="buildings" width="1280" height="568">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1308">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Accounting &  support of your business</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Get Help on Finance</h2>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
            </p>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
            </p>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
            </p>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website In the new era.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">150 +</span>
                    <h3 class="cs-h3">Staff on three continents</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">700 +</span>
                    <h3 class="cs-h3">Consulting engagements</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">180 +</span>
                    <h3 class="cs-h3">Learning community members</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1331">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our working process</span>
                <h2 class="cs-title">How Invetex Works for You</h2>
            </div>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 1</span>
                    <h3 class="cs-h3">Book Free Meeting</h3>
                    <p class="cs-item-text">
                        The ability for the integrating them elit to a marketing team to see all orchi in velit officia consequat duis enim molit save.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 2</span>
                    <h3 class="cs-h3">Understand Details</h3>
                    <p class="cs-item-text">
                        The ability for the integrating them elit to a marketing team to see all orchi in velit officia consequat duis enim molit save.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 3</span>
                    <h3 class="cs-h3">Save & Grow Fast</h3>
                    <p class="cs-item-text">
                        The ability for the integrating them elit to a marketing team to see all orchi in velit officia consequat duis enim molit save.
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg" alt="building"
                width="1920" height="700" decoding="async" loading="lazy">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1301">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Tax & Accounting Services</h2>
            </div>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brain.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Creative Solutions</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/users.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Professional Team</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Diverse Approach</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Diverse Approach</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1218">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/medal.svg" alt="icon" width="521" height="60" aria-hidden="true">
                <span class="cs-number">12+</span>
                <span class="cs-desc">Years of Experience</span>
            </div>
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting.jpg" alt="meeting" width="522" height="560" aria-hidden="true">
            </picture>
            <!--Swirl-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/swirl.svg" alt="icon" width="715" height="715" aria-hidden="true">
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Mission & Vision</span>
            <h2 class="cs-title">We Are The Champion Of The Finance Industry</h2>
            <p class="cs-text">
                Highly qualified tax consultants with many years of experience in the field offer a full range of services to help you build a sound financial future. Tax advice received in time allows you to avoid many problems with the tax authorities. We will help you as efficiently as possible and in a short time.
            </p>
            <div class="cs-content-flair">
                <div class="cs-bar">
                    <h3 class="cs-h3">
                        Savings Strategies
                        <span class="cs-percentage">83%</span>
                    </h3>
                    <!--change the --progress number to match the percentage in cs-number-->
                    <div class="cs-progress" aria-hidden="true">
                        <span class="cs-progress-bar"  style="--progress: 83%"></span>
                    </div>
                </div>
                <div class="cs-bar">
                    <h3 class="cs-h3">
                        Tax Planning
                        <span class="cs-percentage">72%</span>
                    </h3>
                    <!--change the --progress number to match the percentage in cs-number-->
                    <div class="cs-progress" aria-hidden="true">
                        <span class="cs-progress-bar"  style="--progress: 72%"></span>
                    </div>
                </div>
                <div class="cs-bar">
                    <h3 class="cs-h3">
                        Trusted Company
                        <span class="cs-percentage">96%</span>
                    </h3>
                    <!--change the --progress number to match the percentage in cs-number-->
                    <div class="cs-progress" aria-hidden="true">
                        <span class="cs-progress-bar"  style="--progress: 96%"></span>
                    </div>
                </div>
            </div>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1218">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/medal.svg" alt="icon" width="521" height="60" aria-hidden="true">
                <span class="cs-number">12+</span>
                <span class="cs-desc">Years of Experience</span>
            </div>
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting.jpg" alt="meeting" width="522" height="560" aria-hidden="true">
            </picture>
            <!--Swirl-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/swirl.svg" alt="icon" width="715" height="715" aria-hidden="true">
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Mission & Vision</span>
            <h2 class="cs-title">We Are The Champion Of The Finance Industry</h2>
            <p class="cs-text">
                Highly qualified tax consultants with many years of experience in the field offer a full range of services to help you build a sound financial future. Tax advice received in time allows you to avoid many problems with the tax authorities. We will help you as efficiently as possible and in a short time.
            </p>
    <ul class="list-box">
    <li class="cs-item">
        <h3 class="cs-h3">
            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/images/trophy.svg" alt="icon" width="32" height="32">
            Quality Services
        </h3>
        <p class="cs-item-text">
            There are many variations of but the majority is simply free suffered.
        </p>
    </li>
    <li class="cs-item">
        <h3 class="cs-h3">
            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/images/circle-check.svg" alt="icon" width="32" height="32">
            Quality Services
        </h3>
        <p class="cs-item-text">
            There are many variations of but the majority is simply free suffered.
        </p>
    </li>
</ul>
                                
        
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-1230">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">YOU'RE IN GOOD COMPANY</span>
                <h2 class="cs-title">2,000+ Company Taking Investment from Us</h2>
                <p class="cs-text">
                    In the new era of technology we look in the future with certainty and pride for our company and business. consider all the drivers of change gives you the blocks & pride for our components you need to change to create a truly professional website era.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/transparency.svg" alt="icon"
                        class="cs-icon" aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Transparency</h3>
                </li>
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/empowerment.svg" alt="icon"
                        class="cs-icon" aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Empowerment</h3>
                </li>
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/growth.svg" alt="icon" class="cs-icon"
                        aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Growth</h3>
                </li>
                <li class="cs-item">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/partnership.svg" alt="icon"
                        class="cs-icon" aria-hidden="true" decoding="async" width="60" height="60">
                    <h3 class="cs-h3">Partnership</h3>
                </li>
            </ul>
        </div>
        <ul class="cs-stat-group">
            <li class="cs-stat">
                <span class="cs-desc">Individual Offices</span>
                <span class="cs-number">15+</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Years of Experiences</span>
                <span class="cs-number">12+</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Professional Team</span>
                <span class="cs-number">350</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Projects Completed</span>
                <span class="cs-number">375</span>
            </li>
            <li class="cs-stat">
                <span class="cs-desc">Happy Clients</span>
                <span class="cs-number">2.5k+</span>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
                                
                                
    {% include 'components/cta.html' %}
{% endblock %}